
.redfamily {
  color: red; 
}
.search-box,.search-wrapper {
  position: relative;
  padding: 10px;

}
.search-wrapper {
  float: left;
  width: 314px;
  margin-top: 0px;
  margin-left: 700px;

}
.search-box {
  width: 100%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 5px;
}


