.footer {
    position: absolute;
    height: 200px;
    width: 1230px;
    right: 0;
    bottom: 0;
    left: 153px;
    background-color: #2e3235;
    text-decoration-color: #eeeeee;
    text-align: center;
}