body {
    background: whitesmoke;
}


.main {
    width: 65%;
    min-height: 600px;
    height: 100%;
    background: white;
    margin-left: 25%;
    padding-top: 60px;
    box-sizing: border-box;
}

.side-menu {
    width: 15%;
    margin-left: 10%;
    min-height: 150px;
    background: #ccc;
    float: left;
}


.image_box {
    position: absolute;
    width: 65%;
    background: white;
}

.category-wrap {
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 60px;
    padding: 15px;
    background: white;
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 5;
}

.category-wrap h3 {
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
    margin: 0 0 10px;
    padding: 0 5px;
    position: relative;
}

.category-wrap h3:after {
    content: "";
    width: 6px;
    height: 6px;
    background: #ee6c4d;
    position: absolute;
    right: 5px;
    bottom: 2px;
    box-shadow: -8px -8px #ee6c4d, 0 -8px #ee6c4d, -8px 0 #ee6c4d;
}

.category-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.category-wrap li {
    margin: 12px 0 0 0;
}

.category-wrap a {
    text-decoration: none;
    display: block;
    font-size: 13px;
    color: rgba(0, 0, 0, .6);
    padding: 5px;
    position: relative;
    transition: .3s linear;
}

.category-wrap a:after {
    font-family: FontAwesome, serif;
    position: absolute;
    right: 5px;
    color: white;
    transition: .2s linear;
}

.category-wrap a:hover {
    background: #ee6c4d;
    color: white;
}


.movie {
    transition: 300ms;
}

.intro {
    text-align: center;
}


.movie a {
    text-decoration: none;
    color: inherit;
}

.movie a:hover {
    color: #ee6c4d;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.movie {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, .1);
    width: 100%;
    max-width: 160px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
}

.movie-header {
    padding: 0;
    margin: 0;
    height: 235px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.movie:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, .08);
}

.movie-content {
    padding: 5px 5px 10px;
    text-align: center;
    margin: 0;
}

.movie-content-header, .movie-info {
    display: table;
    width: 100%;
}

.movie-title {
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin: 0;
    display: table-cell;
}
