@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Poppins:700');

body {
    background: whitesmoke;
}

.movie-container {
    width: 80%;
    min-height: 500px;
    background: white;
    margin-left: 10%;
    box-sizing: border-box;
    padding: 40px 30px 10px;
    font-weight: lighter;
    font: 14px/22px "Helvetica Neue", Helvetica,Arial, sans-serif;
    color: #A9A8A3;
}


.movie-card {
    margin: 30px auto 0 10px;
    width: 1010px;
    height: 600px;
    background: #F0F0ED;
    border-radius: 5px;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    z-index: 2;
}

.hero {
    height: 400px;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.hero:before {
    content: '';
    width: 100%;
    height: 70%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background: #2e3235;
    z-index: -1;
    transform: skewY(-6.5deg);
    transform-origin: 0 0;

}

.cover {
    position: absolute;
    top: 170px;
    left: 40px;
    z-index: 2;
}

.cover img {
    margin: 0;
}

.movie-card img {
    width: 330px;
    height: 440px;
    margin-left: 5px;
    margin-top: -80px;
    border-radius: 3px;
}

.details {
    padding: 190px 0 0 280px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.details .title4 {
    color: white;
    font-size: 35px;
    margin-left: 260px;
    margin-top: -80px;
    position: relative;

}

.details .title1 {
    color: white;
    font-size: 35px;
    margin-left: 160px;
    margin-top: -80px;
    position: relative;
    font-weight: bold;
    letter-spacing: 1px;
}

.details .title2 {
    color: white;
    font-size: 16px;
    margin-left: 160px;
    margin-top: 20px;
    position: relative;
    font-weight: lighter;
    letter-spacing: 1px;


}

.details .title3 {
    color: black;
    font-size: 18px;
    margin-left: 160px;
    margin-top: 65px;
    position: relative;
    font-weight: bold;
    letter-spacing: 1px;
}


th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

td {
    width: 250px;
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px #de6b48;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
}

table {
    width: 300px;
    margin-left: 150px;
    table-layout: fixed;
}


h2 {
    margin-left: 40px;
    font-size: 16px;
}

textarea {
    margin-top: 10px;
    margin-left: 40px;
    width: 600px;
    height: 100px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    resize: none;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}


.column2 {
    margin-left: 285px;
    width: 560px;
    float: left;
}

.description {
    bottom: 10px;
    height: 160px;
    font-size: 14px;
    line-height: 26px;
    color: #B1B0AC;
    margin-top: -130px;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

.comment-container {
    width: 80%;
    max-height: 800px;
    background: white;
    margin-left: 10%;
    box-sizing: border-box;
    font: 14px/22px "", Arial, sans-serif;
    color: #A9A8A3;
}

.comment-block {
    min-width: 500px;
    max-height: 300px;
    padding: 16px;
    background-color: #F0F0ED;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    margin-left: 40px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    margin-top: 20px;
}

.comment-text {
    margin-bottom: 20px;
    color: #000;
}

.bottom-comment {
    color: #A9A8A3;
    font-size: 12px;
    float: left;
}

.about-column {
    max-width: 100%;
    background: white;
    float: left;
    position: relative;
    z-index: auto;
}

.about-column h2 {
    margin-top: 20px;
    color: #2e3235;
    font-family: 'Poppins', cursive;
}

.about-column p {
    margin-left: 40px;
    font-size: 14px;
}


fieldset, label {
    margin: 0;
    padding: 0;
}


.about-column .pagination {
    padding: 30px 0;
}

.about-column .pagination ul {
    padding: 0;
    list-style-type: none;
    text-align: left;
    margin-left: 45px;

}

.about-column .pagination a {
    display: inline-block;
    padding: 5px 10px;
    color: #222;
}

.vl {
    border-left: 4px solid #de6b48;
    height: 100%;
    position: absolute;
    left: 81%;
    margin-left: -3px;
    top: 0;
}

.appraisal {
    position: absolute;
    left: 82%;
    top: 205px;
    font-family: 'Poppins', cursive;
    font-size: 30px;
    color: #2e3235;
}